@font-face {
    font-family: 'Assassin$';
    src: url('Assassin.woff2') format('woff2'),
        url('Assassin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

